<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JarGone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>MyFlaskApp</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include '/includes/_messages.html' %}
      {% block body %}
      {% endblock %}
    </div>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.11.3/basic/ckeditor.js"></script>
    <script type="text/javascript">
      ckeditor replace('editor')
    </script>
  </body>
</html>
