<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JARGONE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--<link href="bootstrap.min.css" rel="stylesheet" type ="text/css"/>-->
</head>
<body>

<div class="container">
    <form>
        <div class="form-group row">

            <p class="h2 text-center">{{title}}</p>
            <!--<div class="col-sm-3">-->
                <!--<input type="text" readonly="" class="form-control-plaintext" id="Paper Name" value="ID">-->
            <!--</div>-->
        </div>
        <div class="row my-row">
            <div class="col-sm-6 form-group">
                <label for="exampleTextarea">INTRODUCTION</label>
                <p class="form-control" id="exampleTextarea" rows="10">{{}}</p>
            </div>
            <div class="col-sm-6 form-group">
                <label for="exampleTextarea">ABSTRACT</label>
                <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-sm-6 form-group">
                <label for="exampleTextarea">METHODOLOGY</label>
                <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
            </div>
            <div class="col-sm-6 form-group">
                <label for="exampleTextarea">CONCLUSION</label>
                <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="exampleInputFile">Upload research paper(PDF)</label>-->
            <!--<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-11"></div>-->
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</div>-->
    </form>

    </form>
</div>
</body>
</html>